@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dessau-Medium";
  src: url("/fonts/Dessau-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.logo-font {
  font-family: "Dessau-Medium", sans-serif;
}
